@charset "UTF-8";
html,
body {position: relative; height: 100%; background: #f3f3f3;}

body {background: #f3f3f3; font-size: 1rem; color: #333; margin: 0; padding: 0;}

.swiper-container {width: 100%; height: 100%; position: relative;}

.swiper-slide {text-align: center; font-size: 18px; background: #f2f2f2; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-pack: center; -ms-flex-pack: center;-webkit-justify-content: center;justify-content: center; -webkit-box-align: center; -ms-flex-align: center;-webkit-align-items: center; align-items: center;}

.swiper-slide img {width: 1000px;}

.swiper-button-next, .swiper-button-prev {margin: 0 15%; color: #333;}

.swiper-pagination {width: 70px; height: 30px; position: absolute; top: 13%; left: 2%; z-index: 10;}

.back {display: block; position: absolute; top: 5%; left: 2%; font-size: 3rem; color: #333; z-index: 100; cursor: pointer;}
.back i {display: block; position: absolute; top: 5%; left: 2%; font-size: 3rem; color: #333; z-index: 100;}