@charset "UTF-8";
/* common */
body {background: #f3f3f3;}
.wrap {width: 100%; box-sizing: border-box; position: relative;}
.container {width: 95%; margin: 0 auto;}
.grid-base {height: 100%; position: relative;}
.grid-base .grid-base-line>span {position: absolute; left: 25%; height: 100%; display: block; width: 1px; height: 100%; background-color: #999;}
.grid-base .grid-base-line span:nth-child(2) {left: 50%;}
.grid-base .grid-base-line span:nth-child(3) {left: 75%;}
/* fin */

/* nav */
#nav {position: fixed; right: 2vw; top: 38vh; border: 1px solid #333; background: #f3f3f3; color: #333; overflow: hidden; border-radius: 25px 25px; z-index: 100;}
#nav ul li a {display: block; margin: 0 auto; font-size: 1rem; text-align: center; padding: 18px 18px;; transition: .5s ease-in;}
#nav ul li:hover a {background: #333; color: #f3f3f3;}
#nav ul li.on a {background: #333; color: #f3f3f3;}
/* fin */

/* main */
#main {height: 940px; position: relative;}

.main-noise {display: block; width: 700px; height: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); cursor: pointer;}
.main-noise:hover {background: url(../img/noise.png); animation: animate .5s steps(4) infinite;}
@keyframes animate {
    0% {background-position: 0 0;}
    100% {background-position: 100% 100%;}
}

.main-noise .text-glitch {position: absolute; left: 55%; top: 40%; transform: translate(-55%,-40%); }
.main-noise .text-glitch label {font-size: 11rem; font-weight: 900; letter-spacing: -3px; text-transform: uppercase;}
label h2 {position: relative; line-height: 9rem; color: #333; z-index: 2; cursor: pointer;}
.main-noise:hover .text-glitch label h2 {filter: blur(1px);}
label>span {position: absolute; top: 0; left: 0; visibility: hidden;font-size: 11rem; line-height: 9rem;}
.main-noise:hover .text-glitch label span {visibility: visible;}
.main-noise:hover .text-glitch label span{color: rgba(255,0,188,.8); animation: glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;}
.main-noise:hover .text-glitch label span:last-child {color: rgba(0,255,255,.8); animation: glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;}
@keyframes glitch {
    0% {transform: translate(0);}
    20% {transform: translate(-3px,-3px);}
    40% {transform: translate(3px,-3px);}
    60% {transform: translate(-3px,3px);}
    80% {transform: translate(3px,3px);}
    100% {transform: translate(0);}
}

.scroll>a {padding-top: 70px; text-align: center;}
.scroll>a p {position: absolute; bottom: 3vh; left: 50%; transform: translateX(-50%);}
.scroll>a span {position: absolute; bottom: 10vh; left: 50%; width: 24px; height: 24px; margin-left: -12px; border-left: 1px solid #333; border-bottom: 1px solid #333; transform: rotate(-45deg); animation: scrolling 1.5s infinite; box-sizing: border-box;}
@keyframes scrolling {
    0% {transform: rotate(-45deg) translate(0,0); opacity: 0;}
    50% {opacity: 1;}
    100% {transform: rotate(-45deg) translate(-20px,20px); opacity: 0;}
}
/* fin */

/* about */
#about {height: 940px; position: relative;}

.title-box {position: absolute; top: 10%; left: 4.2vw; color: #333;}
.title-box > div {float: left; font-size: 10rem; font-weight: 900; width: 395px; overflow: hidden; text-transform: none;}
.title-box span {float: right;}

.info {width: 620px; height: 200px; position: absolute; top: 53%; left: 10%; color: #333;}
.info h3 {font-weight: 900; margin-bottom: 20px; font-size: 1.2rem; letter-spacing: -2;}
.info p {line-height: 2rem;}

.skill {width: 620px; height: 400px; position: absolute; top: 47%; right: 11%; color: #333;}
.skill h3 {font-weight: 900; margin-bottom: 20px; font-size: 1.2rem; letter-spacing: -2;}
.skill-box > p {font-size: 0.9rem; line-height: 1.3rem; float: left;}
.skill-box > div {width: 500px; border: 1px solid #333; margin: 0 90px 20px;}
.skill-box > div span {width: 0; display: block;  height: 18px; line-height: 18px; box-sizing: border-box; background: #333; text-align: right; color: #f3f3f3; font-size: 0.8rem;}
.skill-box > div span b {margin-right: 10px; opacity: 0;}
.skill.aos-animate .skill-box > div span b {animation: stack-txt 1s 2s forwards;}
.skill.aos-animate .bar.stack1 span {animation: stack1 2s 1.5s forwards;}
.skill.aos-animate .bar.stack2 span {animation: stack2 2s 1.5s forwards;}
.skill.aos-animate .bar.stack3 span {animation: stack3 2s 1.5s forwards;}
.skill.aos-animate .bar.stack4 span {animation: stack4 2s 1.5s forwards;}
.skill.aos-animate .bar.stack5 span {animation: stack5 2s 1.5s forwards;}
.skill.aos-animate .bar.stack6 span {animation: stack6 2s 1.5s forwards;}
@keyframes stack-txt {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes stack1 {
    0% {width: 0; color: rgba(243,243,243,0);}
    100% {width: 85%; color: rgba(243,243,243,1);}
}
@keyframes stack2 {
    0% {width: 0; color: rgba(243,243,243,0);}
    100% {width: 80%; color: rgba(243,243,243,1);}
}
@keyframes stack3 {
    0% {width: 0; color: rgba(243,243,243,0);}
    100% {width: 65%; color: rgba(243,243,243,1);}
}
@keyframes stack4 {
    0% {width: 0; color: rgba(243,243,243,0);}
    100% {width: 70%; color: rgba(243,243,243,1);}
}
@keyframes stack5 {
    0% {width: 0; color: rgba(243,243,243,0);}
    100% {width: 90%; color: rgba(243,243,243,1);}
}
@keyframes stack6 {
    0% {width: 0; color: rgba(243,243,243,0);}
    100% {width: 90%; color: rgba(243,243,243,1);}
}
/* fin */

/* WORKS */
#works {height: 940px; position: relative;}

.title-box-2 {width: 50%; height: 470px; border-top: 1px solid #999; border-bottom: 1px solid #999; position: absolute; top: 0; left: 0; overflow: hidden;}
.title-box-2 .slider {width: 1920px;}
.title-box-2 h2 {display: none;}
.title-box-2>.slider>li {display: block; width: 640px; float: left; font-weight: 900; font-size: 10.7rem; color: #333; line-height: 450px; }

.design-box {position: absolute; top: 0; right: 0; width: 50%;}
.design-box > div {cursor: pointer; width: 50%; height: 470px; float: left; border-top: 1px solid #999; border-bottom: 1px solid #999; position: relative; overflow: hidden;}
.design-box .d-cont h3 {position: absolute; font-size: 2rem; font-weight: 900; color: #f3f3f3; top: 20px; left: 10px;}
.design-box .d-cont p {position: absolute; left: 12px; top: 75px; color: #f3f3f3;}
.design-box .d-cont span {position: absolute; bottom: 20px; left: 10px; font-size: 1.5rem; color: #f3f3f3;}
.design-box .d-cont > div {width: 100%; height: 470px; position: relative;}
.design-box .d-cont > div img {transition: .3s; transform: scale(1.1);}
.design-box .d-cont > div .cont-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); transition: .3s;}
.design-box .d-cont:hover > div .cont-bg { background: rgba(0,0,0,0.4);}
.design-box .d-cont:hover > div img {transform: scale(1.2);}

.publishing-box {position: absolute; bottom: 0; left: 1px; width: 75%;}
.publishing-box > div {cursor: pointer; width: 33.3%; height: 470px; float: left; position: relative; overflow: hidden;}
.publishing-box .p-cont h3 {position: absolute; font-size: 2rem; font-weight: 900; color:#f3f3f3; top: 20px; left: 10px;}
.publishing-box .p-cont p {position: absolute; left: 12px; top: 75px; color: #f3f3f3;}
.publishing-box .p-cont span {position: absolute; bottom: 20px; left: 10px; font-size: 1.5rem; color: #f3f3f3;}
.publishing-box .p-cont > div {width: 100%; height: 470px; position: relative;}
.publishing-box .p-cont > div img {transition: .3s; transform: scale(1.1);}
.publishing-box .p-cont > div .cont-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); transition: .3s;}
.publishing-box .p-cont:hover > div .cont-bg { background: rgba(0,0,0,0.4);}
.publishing-box .p-cont:hover > div img {transform: scale(1.2);}
/* fin */

/* CONTACT */
#contact {height: 880px; position: relative;}

#contact .title-box-3 {position: absolute; top: 0; right: 0; width: 75%; height: 450px; background: url(../img/noise-2.png); animation: animate .5s steps(4) infinite;}
@keyframes animate {
    0% {background-position: 0 0;}
    100% {background-position: 100% 100%;}
}

.title-box-3 .text-glitch {position: absolute; left: 35%; top: 45%; transform: translate(-55%,-45%);}
.title-box-3 .text-glitch label {font-size: 10rem; font-weight: 900; letter-spacing: -3px; }
.title-box-3 .text-glitch > label h2 {position: relative; line-height: 8rem; color: #f3f3f3; z-index: 2; filter: blur(1px);}
.title-box-3 .text-glitch > label > span {position: absolute; visibility: visible;top: 0; left: 0; font-size: 10rem; line-height: 8rem;color: rgba(255,0,188,.8); animation: glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;}
.title-box-3 .text-glitch label span:last-child {color: rgba(0,255,255,.8); animation: glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite; }
@keyframes glitch {
    0% {transform: translate(0);}
    20% {transform: translate(-3px,-3px);}
    40% {transform: translate(3px,-3px);}
    60% {transform: translate(-3px,3px);}
    80% {transform: translate(3px,3px);}
    100% {transform: translate(0);}
}

.cont-info {position: absolute; left: 0; bottom: 0; width: 75%; height: 400px;}
.info-box {margin: 2% 0 0 35%;}
.info-box > div {color: #333; padding: 20px;}
.info-box > div h3 {font-weight: 900; font-size: 2rem; padding-bottom: 20px;}
.info-box > div a {font-weight: normal; font-size: 1rem; }
/* fin */

/* footer */
#footer {height: 50px; border-top: 1px solid #999;}
#footer .copy p {text-align: center; line-height: 50px;}
/* fin */

